*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 40px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display:inline-block;
    list-style-type: none ;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555 ;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
display: inline-block;
background: #ff523b;
color: #fff;
padding: 8px 30px;
margin: 30px 0;
border-radius: 30px;
}
.header{
    background: radial-gradient(rgb(255, 255, 255),#3bb7ff);
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex: 30%;
    min-width:250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-categories{
    max-width: 1080px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
   

}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    background: radial-gradient(rgb(255, 255, 255),#a7ff3b);
}
.col-4 img{
    width:100%;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;

}
/*----------media query for menu----------*/
@media only screen and(max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left:0%;
        
    }
}
button{
    font-display: 5px;
    padding-left: 50%;
    padding-right: 50%;
    width: 150px;
    background-color: rgb(168, 43, 226);
}